@()

@main("Your Sky Bill") {
<!-- PageId:bill3 -->


<h1 class="page-heading">Your Sky Bill</h1>

<div class="statement">

  <div class="row">
    <div class="col-xs-6">
      <p class="bill-section-heading-text">Statement date: <span id="statement-date"></span></p>
    </div>
    <div class="col-xs-6">
      <p class="bill-section-heading-text cost">Billing Period: <span id="statement-from"></span> - <span id="statement-to"></span></p>
    </div>
  </div>

  <div class="bill-section">
    <div class="row bill-section-heading">
      <div class="col-xs-9">
        <p class="bill-section-heading-text">Package</p>
      </div>
      <div class="col-xs-3">
        <a href="#" id="package-toggle" class="toggle-link">Show</a>
      </div>
    </div>
    <div class="package">
      <table id="package-table" class="table table-condensed">
        <tr>
          <th class="col-xs-2 table-left-col">Type</th>
          <th class="col-xs-7">Name</th>
          <th class="col-xs-3 cost">Cost</th>
        </tr>
      </table>
      <div class="bill-payment-row row">
        <div class="col-xs-9">
          <h2 class="bill-payment-text">Package total:</h2>
        </div>
        <div class="col-xs-3">
          <h2 class="bill-payment-text cost">&pound;<span id="package-total"></span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="bill-section">
    <div class="row bill-section-heading">
      <div class="col-xs-9">
        <p class="bill-section-heading-text">Call Charges</p>
      </div>
      <div class="col-xs-3">
        <a href="#" id="call-charges-toggle" class="toggle-link">Show</a>
      </div>
    </div>
    <div class="call-charges">
      <table id="call-charges-table" class="table table-condensed">
        <tr>
          <th class="col-xs-4 table-left-col">Called</th>
          <th class="col-xs-5">Duration</th>
          <th class="col-xs-3 cost">Cost</th>
        </tr>
      </table>
      <div class="bill-payment-row row">
        <h2 class="bill-payment-text col-xs-9">Call Charges total:</h2>
        <h2 class="bill-payment-text col-xs-3 cost">&pound;<span id="call-charges-total"></span></h2>
      </div>
    </div>
  </div>
  <div class="bill-section">
    <div class="row bill-section-heading">
      <div class="col-xs-9">
        <p class="bill-section-heading-text">Sky Store</p>
      </div>
      <div class="col-xs-3">
        <a href="#" id="sky-store-toggle" class="toggle-link">Show</a>
      </div>
    </div>
      <div class="sky-store">
        <div class="row bill-section-heading sky-store-subheading-row">
          <div class="col-xs-12">
            <h2 class="bill-section-heading-text sky-store-subheading-text">Rentals</h2>
          </div>
        </div>
        <table id="rentals-table" class="table table-condensed">
        <tr>
          <th class="col-xs-9 table-left-col">Title</th>
          <th class="col-xs-3 cost">Cost</th>
        </tr>
      </table>
        <div class="row bill-section-heading sky-store-subheading-row">
          <div class="col-xs-12">
            <h2 class="bill-section-heading-text sky-store-subheading-text">Buy and Keep</h2>
          </div>
        </div>
      <table id="buy-and-keep-table" class="table table-condensed">
        <tr>
          <th class="col-xs-9 table-left-col">Title</th>
          <th class="col-xs-3 cost">Cost</th>
        </tr>
      </table>
      <div class="bill-payment-row row">
        <div class="col-xs-9">
          <h2 class="bill-payment-text">Sky Store total:</h2>
        </div>
        <div class="col-xs-3">
          <h2 class="bill-payment-text cost">&pound;<span id="sky-store-total"></span></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="bill-section">
    <div class="statement-total">
      <div class="bill-payment-row grand-total-row row">
        <div class="col-xs-9">
          <h2 class="bill-payment-text ">Payment due on <span id="statement-due"></span></h2>
        </div>
        <div class="col-xs-3">
          <h2 class="bill-payment-text cost">&pound;<span id="bill-total"></span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
} {
  @* Page specific CSS goes here. *@
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bill3.css")">

} {
@* Page specific Javascript goes here. *@
  <script src="@routes.Assets.versioned("javascripts/bill3.js")"></script>
}