@(bill : Bill)

@main("Your Sky Bill") {
<!-- PageId:bill1 -->


  <h1>Your Sky Bill</h1>

  <div class="statement">
    <p>Statement date: @bill.statement.generated</p>
    <p>Billing Period: @bill.statement.period.from - @bill.statement.period.to</p>
  </div>

  <div class="package">
    <h2>Package</h2>
    <table class="table">
      <tr>
        <th class="col-md-2">Type</th>
        <th class="col-md-8">Name</th>
        <th class="col-md-2">Cost</th>
      </tr>
      @for(subscription <- bill.`package`.subscriptions) {
        <tr>
            <td>@{subscription.`type`}</td>
            <td>@subscription.name</td>
            <td>&pound;@subscription.cost</td>
        </tr>
      }
    </table>
    <h2>Package total: &pound;@{bill.`package`.total}</h2>
  </div>

<div class="callCharges">
  <h2>Call Charges</h2>
  <table class="table">
    <tr>
      <th class="col-md-2">Called</th>
      <th class="col-md-8">Duration</th>
      <th class="col-md-2">Cost</th>
    </tr>
    @for(call <- bill.callCharges.calls) {
      <tr>
        <td>@call.called</td>
        <td>@call.duration</td>
        <td>&pound;@call.cost</td>
      </tr>
    }
  </table>
  <h2>Call Charges total: &pound;@bill.callCharges.total</h2>
</div>

<div class="skyStore">
  <h2>Sky Store</h2>
  <h3>Rentals</h3>
  <table class="table">
    <tr>
      <th class="col-md-10">Title</th>
      <th class="col-md-2">Cost</th>
    </tr>
    @for(rental <- bill.skyStore.rentals) {
    <tr>
      <td>@rental.title</td>
      <td>&pound;@rental.cost</td>
    </tr>
    }
  </table>
  <h3>Buy and Keep</h3>
  <table class="table">
    <tr>
      <th class="col-md-10">Title</th>
      <th class="col-md-2">Cost</th>
    </tr>
    @for(buyAndKeep <- bill.skyStore.buyAndKeep) {
    <tr>
      <td>@buyAndKeep.title</td>
      <td>&pound;@buyAndKeep.cost</td>
    </tr>
    }
  </table>
  <h2>Sky Store total: &pound;@bill.skyStore.total</h2>
</div>

<div class="statementTotal">
  <h2>Payment due on @bill.statement.due: &pound;@bill.total</h2>
</div>
}