@main("Sky BAPS Project Submission") {
  <!-- PageId:index -->
  <h1>Sky BAPS Project Submission</h1>
  <h2>Daniel Wright</h2>

<table class="table">
  <tr>
    <th>Page</th>
    <th>Description</th>
  </tr>
  <tr>
    <td class="col-md-2"><a id="bill1link" class="btn btn-default" href="@controllers.routes.Application.bill1()">Example 1</a></td>
    <td class="col-md-10">To begin with I have simply consumed the JSON on the server from the API, it is then rendered into a view in play and served to the user.</td>
  </tr>
  <tr>
    <td class="col-md-2"><a id="bill2link" class="btn btn-default" href="@controllers.routes.Application.bill2()">Example 2</a></td>
    <td class="col-md-10">In this version, the API call is cached for up to 5 minutes by Play. This prevents excessive API calls in a short period of time. I have also added show and hide buttons to the page.</td>
  </tr>
  <tr>
    <td class="col-md-2"><a id="bill3link" class="btn btn-default" href="@controllers.routes.Application.bill3()">Example 3</a></td>
    <td class="col-md-10">This example uses AJAX to load the bill into the page.</td>
  </tr>
</table>

<h3>Assumptions</h3>
<ul>
  <li>The API hosted on Heroku will always be available.</li>
  <li>The JSON served will contain the same structure regardless of array length. So for example. If a bill contains no telephone calls, the call array property will still be present, just empty.</li>
  <li>For the first two examples, the number of subscriptions, calls, rentals and buyAndKeeps will always > 0.</li>
  <li>Ajax calls never fail.</li>
</ul>

} {
  @* Page specific CSS goes here. *@

} {
  @* Page specific Javascript goes here. *@

}
